name: build
on: [push, pull_request]
jobs:
  golangci:
    name: Lint
    runs-on: ubuntu-latest
    # Prevent duplicate builds on internal PRs.
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20.x'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.53.3
          args: --timeout 3m0s
  build:
    name: Test with Go ${{ matrix.go-version }} Redis ${{ matrix.redis-version }}
    runs-on: ubuntu-latest
    # Prevent duplicate builds on internal PRs.
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      matrix:
        go-version: ["1.20", "1.21"]
        redis-version: [5, 6, 7]
    steps:
      - name: Install Go stable version
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Start redis
        env:
          REDIS_VERSION: ${{ matrix.redis-version }}
        run: docker compose up -d --wait

      - name: Test
        run: go test -v -race -tags integration -coverprofile=coverage.out $(go list ./... | grep -v /_examples/)

      - name: Upload code coverage to codecov
        if: matrix.go-version == '1.21'
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.out
